.footer {
    padding: 2rem 1rem;
    background-color: #1f2f46;
    color: white;
    text-align: center;
    font-size: 0.9rem;
  
    .tnl-brand {
      color: #FF8800;
      font-weight: bold;
    }
  
    .footer-note {
      font-size: 0.8rem;
      color: #ccc;
      margin-top: 0.5rem;
    }
  }